<div class="page-header">
  <h1>About    <small>me</small></h1>
</div>


<div class="row">
	<div class="col-sm-4" >
		<p><%= image_tag "hp.jpg", :class => 'img-circle', size: "300x300"%></p>
	</div>
	<div class="col-sm-8" >
		<dl>
		<table>
			<tr>
				<td><h3>Pesonal Details</h3></td>
				<td></td>
			</tr>
			<tr>
				<td>
					<dt>Name</dt>
					<dd>ChungHan Hsieh 謝宗翰</dd>
				</td>
				<td>
					<dt>Birth</dt>
					<dd>1992/01/22</dd>
				</td>
			</tr>
			<tr>
				<td>
					<dt>Location</dt>
					<dd>Taipei, Taiwan</dd>
				</td>
				<td>
					<dt>Education</dt>
					<dd>NTCB 國立台北商業技術學院 學士</dd>
				</td>
			</tr>
			<tr>
				<td><dt>Skills</dt>
				<dd>Java, Asp.net C#, Rails, Html, Javascript, Css</dd>
				</td>
			</tr>
			<tr>
			<td><dt>Intro</dt>
			<dd>
			<p>Hey! I'm Tom.</p> 
			<p>Currently, I'm a Java Developer in Taiwansglass IT Department.</p>
			<p>And after work I use Rails for fun.</p>
			</dd></td>
			</tr>
			<dd></dd>
		</dl>  
	</div>
</div>


   
