<div class="page-header">
  <h1>Notes</h1>
</div>
<table class="table table-striped">
	<tr>
		<td>#</td>
		<td>Title</td>
		<td>Content</td>
	</tr>
	<% @posts.each do |post| %>
		<tr>
			<td></td>
			<td><%= post.title %></td>
			<td><%= link_to truncate(post.content, length: 10) , post_path(post) %></td>
		</tr>
	<% end %>
</table>